# Dependencies
node_modules/
package-lock.json
npm-debug.log*
yarn.lock
.pnpm-lock.yaml

# Production
out/
build/
dist/
.next/

# Development
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
.DS_Store
Thumbs.db
